<p>add-edit-category works!</p>
<div mat-dialog-title>
    <h1>Category Form</h1>
</div>
<mat-dialog-content style="overflow: hidden;">
    <form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
        <div mat-dialog-content class="content">
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Category Name</mat-label>
                    <input matInput type="text" placeholder="Ex. Technical" formControlName="categoryName">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Code</mat-label>
                    <input matInput placeholder="Ex. Babaji" formControlName="code">
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions class="action">
            <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
            <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
        </div>
    </form>
</mat-dialog-content>