.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #000;
}
.mat-form-field-label {
    color: rgb(0 0 0 / 70%);
}
.mat-dialog-actions {
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 52px;
    align-items: center;
    box-sizing: content-box;
    margin-bottom: -24px;
}
