.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;

  mat-form-field {
    width: 100%;
  }
}

.action {
  display: flex;
  gap: 5px;
}

.mat-form-field-label {
  transform: perspective(100px);
  color: red;
}

.mat-form-field-underline {
  background-color: red;
}

.mat-header-cell {
  color: #000;
}

.mat-cell,
.mat-footer-cell {
  color: #000;
}

.mat-table {
  background: #fff;
}